NEXT_PUBLIC_SITE_URL=https://raterunner.online
BOK_ECOS_API_KEY=
WISE_API_TOKEN=

NEXT_PUBLIC_ADSTERRA_BANNER_KEY=
NEXT_PUBLIC_ADSTERRA_SOCIAL_KEY=
NEXT_PUBLIC_ADSTERRA_PUSH_KEY=
NEXT_PUBLIC_ADSTERRA_POPUNDER_KEY=
NEXT_PUBLIC_ADSTERRA_MULTITAG_KEY=
NEXT_PUBLIC_ADSTERRA_DIRECTLINK_URL=

AWS_REGION=us-east-1
AWS_ACCOUNT_ID=
